img {
    cursor: pointer;
}
.model{
    margin: 30px;
}
.select-model{
    float: left;
    width: 50%;
}
.model-title{
    font-weight:bold
}
.img-model{
    width: 130px;
    height: 50px;
}
.items div{
    margin:5px
}