video {
    width: 80%;
    height: 500px;
    outline: none;
    margin-bottom:25px
}
.img-video{
    flex: 0 0 16.666667%;
    max-width: 16.666667%;
    position: relative;
    width: 150px;
    padding-right: 15px;
    padding-left: 15px;
}